{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block description %}
{% endblock %}
{% block head %}
    <meta property="og:title" content="SoyCruzMery Hooponopono" />
    <meta property="og:description" content="El Hooponopo es un universo" />
{% endblock %}


{% block content %}
<div class="row">
    <!-- WELCOME
    ================================================== -->
    <section class="pt-4 pt-md-11 img-thumbnail ">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-5 col-lg-6 order-md-2">

            <!-- Image -->
            <img src="{% static "imagenes/merilimpioSolidario.jpg" %}" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 img-thumbnail" alt="..." data-aos="fade-up" data-aos-delay="100">

          </div>
          <div class="col-12 col-md-7 col-lg-6 order-md-1" data-aos="fade-up">

            <!-- Heading -->
            <h1 class="display-4 text-center text-md-left">
              Somos solidarios con  <br><span class="text-primary">Venezuela</span>

            </h1>

            <!-- Text -->
            <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
              En estos momentos dificiles que esta pasando Venezuela, <span class="text-primary">Merilimpio C.A.</span> se hace solidario con nuestros compatriota,
              trabajando mas duro para poder satisfacer la demanda de todos nuestros productos, para ayudar a combatir la pandemia del COVID-19.
            </p>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-7 col-lg-6 order-md-1 text-md-right" data-aos="fade-up" data-aos-delay="100">

            <!-- Heading -->
            <h1 class="display-4 text-center text-md-right">
              Somos Productos de limpieza<br>
            </h1>

            <!-- Text -->
            <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
                Ofrecemos productos y servicios con innovación y mejoras de calidad:<br>
                <span class="text-primary">
                Jabón Multiuso, Jabón Lavaplatos,
                Desinfectante, Desengrasante,
                Suavizante, Cloro blanqueador, Cloro
                Jabonoso, Limpiador de pocetas,
                Porcelimpio, Abrillantador de cauchos,
                Destapador de Cañerías, Shampoo para
                carro y otros productos terminados.</span></p>

          </div>
          <div class="col-12 col-md-5 col-lg-6 order-md-2">

            <!-- Image -->
            <img src="{% static "imagenes/merilimpioLimpieza.jpg" %}" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 img-thumbnail" alt="..." data-aos="fade-up" data-aos-delay="100">

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

</div>
{% endblock %}
